body {
    margin: 0;
    padding: 10px;
    font-family: "Arial", sans-serif;
    min-width: 400px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    gap: 10px;
}

#logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
    border-radius: 5px;
}

h1 {
    margin: 0;
    color: #0077B5;
    font-size: 24px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #0077B5;
    margin-bottom: 4px;
}

button {
    background-color: #0077B5;
    color: white;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
}

#download-btn {
    background-color: #005E93;
    margin-top: 20px;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
}

li {
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}

a {
    color: #0077B5;
    text-decoration: none;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.number {
    font-weight: bold;
    color: #555;
    min-width: 20px;
}

.checkmark {
    cursor: pointer;
    color: #ccc;
    font-size: 1.2em;
    user-select: none;
}

.checkmark.checked {
    color: #0077B5;
}

li button {
    width: auto;
    padding: 5px 10px;
    margin-bottom: 0;
    background-color: #cc0000;
    font-size: 0.8em;
}