body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #000000;
}

button {
    background: #084ef1;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
}